:root {
  --color-dark-blue: #2e2f42;
  --color-light-blue: #4d5ae5;
  --color-hover-blue: #404bbf;
  --color-white: #ffffff;
  --color-light-gray: #f4f4fd;
  --color-gray: #8e8f99;
  --color-dark-gray: #434455;
  --color-light-gray-border: #e7e9fc;
  --color-shadow: rgba(46, 47, 66, 0.08);
  --color-shadow-dark: rgba(46, 47, 66, 0.16);
  --color-modal-overlay: rgba(46, 47, 66, 0.4);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-dark-gray);
  line-height: 1.5;
  background-color: var(--color-white);
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid var(--color-light-gray-border);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.header {
  box-shadow: 0 2px 1px var(--color-shadow), 0 1px 1px var(--color-shadow-dark),
    0 1px 6px var(--color-shadow);
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-light-blue);
  margin-right: 76px;
}

.span-header {
  color: var(--color-dark-blue);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contact-info {
  font-style: normal;
}

.contact-link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info .contact-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--color-dark-blue);
  font-weight: 500;
  text-decoration: none;
}

.nav-item .nav-link {
  padding: 24px 0;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.contact-link:active,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.nav-item .active {
  color: #404bbf;
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.hero {
  background-color: var(--color-dark-blue);
  letter-spacing: 0.02em;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/background-hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto;
}

.order-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--color-light-blue);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.hero-title,
.feature-title,
.team-title,
.team-member-name,
.portfolio-main-title,
.portfolio-title {
  letter-spacing: 0.02em;
}

.feature-title,
.team-member-name,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-dark-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-list .feature-item:last-child {
  margin-right: 0;
}

.feature-title {
  margin-bottom: 8px;
}

.feature-image-box {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  margin-bottom: 8px;
}

.team {
  background-color: var(--color-light-gray);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-dark-blue);
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list .portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--color-light-gray-border);
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 1px 6px var(--color-shadow), 0 1px 1px var(--color-shadow-dark),
    0 2px 1px var(--color-shadow);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-thumbnail {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  color: var(--color-light-gray);
  padding: 40px 32px;
  background-color: var(--color-light-blue);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-dark-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-member {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.team-list .team-member:last-child {
  margin-right: 0;
}

.member-text {
  padding: 32px 0;
  text-align: center;
}

.team-member-name,
.team-member-role {
  margin-bottom: 8px;
}

.social-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  list-style-type: none;
}

.social-media-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px transparent;
  background-color: var(--color-light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: var(--color-light-gray);
}

.footer {
  background-color: var(--color-dark-blue);
  padding: 100px 0;
  width: 100%;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  color: var(--color-light-gray);
}

.footer-description {
  color: var(--color-light-gray);
  max-width: 264px;
}

.container-info {
  margin-right: 120px;
}

.footer-main {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-section-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-media{
  margin-right: 80px;
}

.footer-social-media-list {
  gap: 16px;
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.newsletter-title {
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 16px;
}

.newsletter-form {
  display: flex;
  gap: 24px;
}

.newsletter-form-input {
  width: 264px;
  height: 40px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  border: 1px solid var(--color-white);
  border-radius: 4px;
  outline: inherit;
  color: var(--color-white);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 8px 16px;
}

.newsletter-form-input::placeholder {
  color: var(--color-white);
}

.newsletter-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin: 0;
  box-shadow: none;
}

.newsletter-btn-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

.modal-overlay {
  background-color: var(--color-modal-overlay);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;

  width: 24px;
  height: 24px;

  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-light-gray-border);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #31d0aa;
  border: none;
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--color-white);
}

.modal-close-icon {
  fill: var(--color-dark-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  font-weight: 500;
  color: var(--color-dark-blue);
  text-align: center;
  margin-bottom: 16px;
}

.modal-contact-form {
  color: var(--color-gray);
}

.form-group {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-gray);
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-modal-overlay);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  color: var(--color-modal-overlay);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
  border-color: var(--color-light-blue);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--color-dark-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within + .input-icon {
  fill: var(--color-light-blue);
}

.form-group.textarea-group {
  height: fit-content;
  margin: 0;
  margin-bottom: 16px;
}

.form-textarea {
  display: block;
  width: 100%;
  min-height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--color-modal-overlay);
  border: 1px solid var(--color-modal-overlay);
  border-radius: 4px;
  background-color: transparent;

  padding: 8px 16px;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus-within {
  border-color: var(--color-light-blue);
}

.form-textarea::placeholder {
  color: var(--color-modal-overlay);
}

.form-group.checkbox-group {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-gray);
}

.checkbox-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-modal-overlay);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.checkbox-input:checked + .checkbox-label > .checkbox-box {
  background-color: #404bbf;
  fill: var(--color-light-gray);
  border: none;
}

.privacy-policy-link {
  color: var(--color-light-blue);
  text-decoration: underline;
  line-height: 1.33;
}

.form-submit-button {
  display: block;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: inherit;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit-button:hover,
.form-submit-button:focus {
  background-color: #404bbf;
}
